<div class="container-fluid p-0 h-100">
  <div class="row g-0 h-100">
    <!-- Body-Left -->
    <!-- Highlight -->
    <div class="col-md-6 col-12 d-flex flex-column h-100 border-end border-secondary">
      <%= f.fields_for :highlight do |h| %>
        <%= h.text_area :content, class: "form-control h-100 border-0", style: "resize: none; outline: none; box-shadow: none;" %>
      <% end %>
    </div>

    <!-- Body-Right -->
    <div class="col-md-6 col-12 d-flex flex-column h-100">
      <!-- Summary-->
      <div class="border-bottom border-secondary" style="flex: 6;">
        <%= f.fields_for :summary do |s| %>
          <%= s.text_area :content, class: "form-control h-100 border-0", style: "resize: none; outline: none; box-shadow: none;"  %>
        <% end %>
      </div>

      <!-- Action -->
      <div style="flex: 4; overflow-y: auto;">
        <%= f.fields_for :actions do |a| %>
          <%= a.text_area :content, class: "form-control h-100 border-0", style: "resize: none; outline: none; box-shadow: none;"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
