<!-- app/views/notes/new.html.erb -->
<div data-controller="note" class="d-flex flex-column vh-100">
  <%= form_with model: @note, id: "note-form", html: {class:"d-flex flex-column h-100 flex-grow-1"}  do |f| %>
    <!-- ヘッダー -->
    <%= render "shared/header", f: f %>

    <!-- Devise Flash-message -->
    <div data-controller="flash">
      <%= render "shared/flash" %>
    </div>

    <!-- ▼ ボディ -->
    <div class="flex-grow-1">
      <div class="container-fluid p-0 g-0 h-100 row">
        <!-- ボディ 左 -->
        <div class="col-md-6 d-flex flex-column h-100 border-end border-secondary">
          <%= f.fields_for :highlight do |h| %>
            <label class="form-label bg-light px-2 py-1 w-100">メモ</label>
            <%= h.text_area :content, class: "form-control border-0 h-100", style: "resize: none; outline: none; box-shadow: none;"  %>
          <% end %>
        </div>

        <!-- ボディ 右 -->
        <div class="col-md-6 d-flex flex-column h-100">
          <div style="flex: 6; overflow-y: auto;" class="border-bottom border-secondary">
            <%= f.fields_for :summary do |s| %>
              <label class="form-label bg-light px-2 py-1 w-100">要約</label>
              <%= s.text_area :content, class: "form-control border-0 h-100", style: "resize: none; outline: none; box-shadow: none;"  %>
            <% end %>
          </div>

          <div style="flex: 4; overflow-y: auto;">
            <%= f.fields_for :actions do |a| %>
              <label class="form-label bg-light px-2 py-1 w-100">行動</label>
              <%= a.text_area :content, class: "form-control border-0 h-100", style: "resize: none; outline: none; box-shadow: none;"  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
